.small-profile-photo {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto; 
}

.small-photo {
   width: 150px;
            border: 2px solid purple;
            border-radius: 10px;
}
   
.cover-photo {
    background-image: url('https://img.freepik.com/premium-vector/pink-coquette-bow-watercolor-background_682013-329.jpg?w=1480');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: file:///C:/Users/Jace/Downloads/cq.webp
    color: #333;
}

h1, h2, h3 {
    color: pink;
}

.profile-photo {
    max-width: 50%;
    height:auto;
    object-fit: cover;
    border-radius: 0; 
}

#landing {
    background-color: #e6e6fa;
    color: white;
    padding: 50px 0;
}

#about {
    background-color: #e6e6fa;
    padding: 50px;
}

#projects {
    background-color: #e6e6fa;
}

@media (max-width: 768px) {
    .profile-photo {
        width: 100px;
        height: 100px;
    }

    #projects .card {
        margin-bottom: 20px;
    }
}

